.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?w=1600");
background-size:cover;
background-position:center;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
position:fixed;
width:84%;
background:rgba(0,0,0,.35);
backdrop-filter:blur(8px);
z-index:999;
}

.logo h2{
margin:0;
font-size:28px;
color:#FFD54F;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
font-weight:bold;
}

.nav-links a:hover{
color:#FFD54F;
}

#langBtn{
background:#FFD54F;
border:none;
padding:10px 16px;
border-radius:5px;
cursor:pointer;
font-weight:bold;
}

.hero-content{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero-content h1{
font-size:50px;
max-width:900px;
margin-bottom:20px;
}

.hero-content p{
font-size:24px;
margin-bottom:35px;
}

.hero-buttons{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.btn,
.btn2{
padding:15px 30px;
border-radius:6px;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

.btn{
background:#2E7D32;
color:white;
}

.btn2{
background:#FFD54F;
color:black;
}

.btn:hover,
.btn2:hover{
transform:scale(1.05);
}

@media(max-width:768px){

.navbar{
flex-direction:column;
width:100%;
padding:15px;
}

.nav-links{
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.hero-content h1{
font-size:34px;
}

.hero-content p{
font-size:18px;
}

}
